/* layout, fonts, and general size */
@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
      url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: hsl(180, 100%, 50%);
    font-size: 12px;
    font-family: 'quicksandregular';
}

.hero-title {
    color: hsl(189, 100%, 26%);
    font-size: 4em;
    text-align: center;
    margin: .5em 0 1em 0;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: .5em;
    color:hsl(330, 100%, 50%);
    font-size: 2em;
}

.pink-link {
    color:hsl(310, 24%, 41%);
}

.bottom-nav {
    background-color: hsl(0, 0%, 100%);
}

.copyright {
    color: hsl(0, 0%, 0%);
    font-size: 2em;
    padding: .5em;
}

@media screen and (max-width: 500px) {
    .hero-title {
        color: hsl(189, 100%, 26%);
        font-size: 2em;
        text-align: center;
        margin: .5em 0 1em 0;
    }
    
    .content-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        padding: .5em;
        color:hsl(263, 100%, 50%);
        font-size: 2.5em;
    }
}