body {
  background-image: linear-gradient(
    205deg,
    #00bd00,
    #000000
  );
  font-size: 12px;
  font-family: 'quicksandregular';
}


/* important paypal stuff */

/*Paypal Stuff*/
/* #paypal {
  margin-left: 8em;
  margin-top: 2em;
  padding: 4em;
  width: 25em;
} */

/* .field {
  padding: 1em;
  width: 22em;
  margin-left: 0.25em;
  margin-bottom: 1.5em;
  border-radius: 15px;
  border: 2px solid hsl(224, 97%, 26%);
} */

/* actual design */
.donation-container {
  width: 85%;
  text-align: center;
  margin: 5em auto;
}

.donation-content {
  color: hsl(0, 0%, 100%);
  font-size: 3em;
}

.dono-photo {
  width: 450px;
  height: 500px;
  margin: 2em;
}

.content-pt2 {
  color:hsl(0, 0%, 100%);
  font-size: 3.5em;
}

.copyright {
  color: hsl(0, 0%, 100%);
  font-size: 2em;
  padding: 0.5em;
}

@media screen and (max-width: 500px) {
  .dono-photo {
    width: 350px;
    height: 400px;
    margin: 2em auto;
  }
}