body {
  background-color:#025502;
  font-size: 12px;
  font-family: 'quicksandregular';
}

/* hero */
.donation-hero {
  color:hsl(0, 0%, 100%);
  font-size: 4em;
  margin: 1.25rem 0 0 2.8em;
}

/*Paypal Stuff*/
.donation-payment-container {
  margin: 3em auto;
  width: 35em;
}

.paypal-input {
  width: 100%;
  height: 2em;
  margin: 0 0 .75em 0;
  border-radius: 5px;
  font-size: 24px;
}

/* actual design */
.donation-container {
  width: 85%;
  text-align: center;
  margin: 5em auto;
}

.donation-content {
  color: hsl(0, 0%, 100%);
  font-size: 3em;
}

.dono-photo {
  width: 450px;
  height: 500px;
  margin: 2em;
}

.content-pt2 {
  color:hsl(0, 0%, 100%);
  font-size: 3.5em;
}

.copyright {
  color: hsl(0, 0%, 100%);
  font-size: 2em;
  padding: 0.5em;
}

@media screen and (max-width: 500px) {
  .dono-photo {
    width: 350px;
    height: 400px;
    margin: 2em auto;
  }
}