:root {
  --bgColor: #c42323;
}

/* home background */
body {
  background-color: var(--bgColor);
  font-size: 12px;
  font-family: 'quicksandregular';
}

/*video size and placement*/
.ytVideo {
  margin: 6em 0 0 7rem;
  width: 100%;
  height: 100%;
}
.ytVideo,
iframe {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1600px;
  height: 800px;
  border-radius: 20px;
}

/*Clicks*/
.clickImg {
  border-radius: 15px;
}

.clicks1,
.clicks3 {
  text-decoration: none;
  cursor: pointer;
  padding: 2em;
  border: none;
  border-radius: 15px;
  margin-top: 3em;
  background-color: var(--bgColor);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 20px auto;
  padding-left: 21em;
}

.clicks1:hover,
.clicks3:hover,
.clicks1:focus,
.clicks3:focus {
  background-color: #ffffff;
}

/*Copyright*/
.copyright {
  font-family: 'quicksandregular';
  font-size: 2em;
  color: hsl(0, 0%, 100%);
  position: relative;
  padding: 0.5em;
}

/* Mobile Style */
@media screen and (max-width: 500px) {
  /*video size and placement*/
  .ytVideo {
    display: flex;
    position: relative;
    margin-left: 2.45em;
    margin-top: 4em;
    width: 100%;
    height: 100%;
  }
  .ytVideo,
  iframe {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 80%;
  }

  /*Clicks*/
  .clicks1,
  .clicks3 {
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em;
    border: none;
    border-radius: 0;
    margin-top: 3em;
  }

  .grid {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .black:hover,
  .black:focus,
  #current-page {
    padding-bottom: 10px;
    border-bottom: 5px solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 0%);
  }
}
