@keyframes swoosh {
  0% {
    background-color:hsla(0, 92%, 44%, 0.438);
  }

  100% {
    background-color: hsla(0, 0%, 0%, 0.61);
  }
}

body {
  background-image: linear-gradient(
      360deg,
      #ffffff,
      #d70909
    );
  font-size: 12px;
  font-family: 'quicksandregular';
}

/* Hero */
.hero {
  color:hsl(0, 0%, 100%);
  font-size: 3.5em;
  text-align: center;
  margin: 1.5em 0 0 0;
}

/*setting layouts for content and misc. for mission statements*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 4em auto;
}

.card {
  background-color: hsl(0, 0%, 0%, 0.61);
  padding: 2em;
  margin: 2em auto;
  border-radius: 10px;
  width: 300px;
  height: 420px;
  /* animation: swoosh 6s infinite alternate 6s; */
}

.card-hero {
  color:hsl(0, 0%, 100%);
  font-size: 2em;
  text-align: center;
}

.left {
  text-align: left;
}

.card-content {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  margin: .75em 0 0 .5em;
  text-align: center;
}

.core-content {
  padding: .35em;
}


/*Copyright*/
.copyright {
  font-family: 'quicksandregular';
  font-size: 2em;
  color: hsl(0, 92%, 44%);
  padding: 0.5em;
}


/* Mobile Style */
@media screen and (max-width: 500px) {
  /* Hero */
  .hero {
    color:hsl(0, 0%, 100%);
    font-size: 3.5em;
    text-align: center;
    margin: 1.5em 0 0 .075em;
  }

  /*setting layouts for content and misc. for mission statements*/
  .grid {
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    margin: 0 0 0 1.75em;
  }
  
  .card {
    background-color: hsla(0, 92%, 44%, 0.438);
    padding: 1em;
    margin: 8em 0 0 0;
    border-radius: 10px;
    width: 350px;
    height: 100%;
  }
  
  .card-hero {
    color:hsl(0, 0%, 100%);
    font-size: 2em;
    text-align: center;
  }
  
  .card-content {
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
    margin: 2em 0 0 0;
    text-align: center;
  }

}
