body {
  background-image: linear-gradient(
      360deg,
      #ffffff,
      #d70909
    );
  font-size: 12px;
  font-family: 'quicksandregular';
}

/* Hero */
.hero {
  color:hsl(0, 0%, 100%);
  font-size: 3.5em;
  text-align: center;
  margin: 1.5em 0 0 0;
}

/*setting layouts for content and misc. for mission statements*/
.flex {
  display: flex;
  flex-direction: row;
  gap: 5em;
  justify-content: center;
  margin: 0 auto;
}

.card {
  background-color: hsla(0, 92%, 44%, 0.438);
  padding: 1em;
  margin: 8em 0 0 0;
  border-radius: 10px;
  width: 350px;
  height: 100%;
}

.card-hero {
  color:hsl(0, 0%, 100%);
  font-size: 2em;
  text-align: center;
}

.card-content {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  margin: 2em 0 0 0;
  text-align: center;
}


/*Copyright*/
.copyright {
  font-family: 'quicksandregular';
  font-size: 2em;
  color: hsl(0, 92%, 44%);
  padding: 0.5em;
}


/* Mobile Style */
@media screen and (max-width: 500px) {
  /* Hero */
  .hero {
    color:hsl(0, 0%, 100%);
    font-size: 3.5em;
    text-align: center;
    margin: 1.5em 0 0 .075em;
  }

  /*setting layouts for content and misc. for mission statements*/
  .flex {
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    margin: 0 0 0 1.75em;
  }
  
  .card {
    background-color: hsla(0, 92%, 44%, 0.438);
    padding: 1em;
    margin: 8em 0 0 0;
    border-radius: 10px;
    width: 350px;
    height: 100%;
  }
  
  .card-hero {
    color:hsl(0, 0%, 100%);
    font-size: 2em;
    text-align: center;
  }
  
  .card-content {
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
    margin: 2em 0 0 0;
    text-align: center;
  }

}
